<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>會員系統</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/style.css') }}">
</head>

<body>
    <header class="page-header">
        <h1>歡迎光臨，請註冊登入系統</h1>
    </header>

    <main class="container">

        <section class="form-section">
            <h2>註冊帳號</h2>

            <form id="signup-form">
                <div class="form-row">
                    <label for="signup-name">姓名</label>

                    <input id="signup-name" name="name" type="text">
                </div>

                <div class="form-row">
                    <label for="signup-email">信箱</label>

                    <input id="signup-name" name="name" type="text">
                </div>

                <div class="form-row">
                    <label for="signup-password">密碼</label>

                    <input id="signup-password" name="password" type="password">
                </div>

                <button type="submit">註冊</button>
            </form>
        </section>

        <section class="form-section">
            <h2>登入系統</h2>

            <form id="signin-form">
                <div class="form-row">
                    <label for="signin-email">信箱</label>

                    <input id="signin-email" name="email" type="text">
                </div>

                <div class="form-row">
                    <label for="signin-password">密碼</label>

                    <input id="signin-password" name="password" type="password">
                </div>

                <button type="submit">登入</button>
            </form>
        </section>

    </main>
</body>
</html>