<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>會員頁面</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/style.css') }}">
</head>

<body>
    <header class="page-header">
        <h1>歡迎光臨，這是會員頁</h1>
    </header>

    <main class="member-container">
        <p>
            <strong>{{ name }}</strong>，歡迎登入系統
        </p>
        
        <a href="/">登出系統</a>
    </main>
</body>
</html>